<!DOCTYPE html>
<html>
<head>
    <title>Advanced React Application</title>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="Afsane Fadaei">
</head>
<body>
<h1>Hello express ejs</h1>
</body>
</html>
